<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="site.css">
    <title>CIEACT</title>
  </head>
<body>

<div class="hdr"><h2>Imput Field/Column Name and Upload your csv File</h2></div>

<form action="/action_page.php">
	<div class="label">

  <label for="OFFRNARR" width ="540">OFFRNARR:</label>
  <input type="text" id="OFFRNARR" name="OFFRNARR" ><br>
  
  <label for="CRSHDATE">CRSHDATE:</label>
  <input type="text" id="OFFRNARR" name="CRSHDATE" ><br><br>
  
  <label for="CRASHTIME">CRASHTIME:</label>
  <input type="text" id="CRASHTIME" name="CRASHTIME" ><br><br>
  
  <label for="CRSCATGRY">CRSCATGRY:</label>
  <input type="text" id="CRSCATGRY" name="CRSCATGRY" ><br><br>
  
  <label for="CRSCATGRYINT">CRSCATGRYINT:</label>
  <input type="text" id="CRSCATGRYINT" name="CRSCATGRYINT" ><br>
  
  <label for="CRSHTYPE">CRSHTYPE:</label>
  <input type="text" id="CRSHTYPE" name="CRSHTYPE" ><br>
  
  <label for="CNTYNAME">CNTYNAME:</label>  
  <input type="text" id="CNTYNAME" name="CNTYNAME" ><br>
  
  <label for="MUNINAME">MUNINAME:</label>  
  <input type="text" id="MUNINAME" name="MUNINAME" ><br>
  
  <label for="MUNITYPE">MUNITYPE:</label>  
  <input type="text" id="MUNITYPE" name="MUNITYPE" ><br>
  
  <label for="INJSVR">INJSVR:</label>  
  <input type="text" id="INJSVR" name="INJSVR" ><br>
  
  <label for="LATDECDG">LATDECDG:</label>  
  <input type="text" id="LATDECDG" name="LATDECDG" ><br><br>
  
  <label for="LONDECDG">LONDECDG:</label>  
  <input type="text" id="LONDECDG" name="LONDECDG" ><br><br>
  </div>
  
  
  
  
  <input type="submit" value="Upload">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>
